/*---------- $2. Page layout ----------*/

html {
  overflow-x: hidden;
  -servicestudio-overflow-x: initial;
}

html,
body,
#reactContainer,
#reactContainer > div,
#reactContainer > div > div,
.layout,
.screen {
  height: 100%;
  -servicestudio-min-height: 100vh;
}

.screen-container {
  overflow-x: hidden;
  overflow-y: auto;
}

body,
.content {
  background-color: #f6f6f6;
}

.screen,
.content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  touch-action: pan-y;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.layout.blank .main-content {
  height: 100%;
}

.main-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  -servicestudio-position: relative;
  -servicestudio--webkit-flex: 1;
}

.ios .main-content {
  height: calc(100% + 1px);
}

.has-master-detail .main-content {
  height: 100%;
}

.bottom-bar-wrapper {
  display: block;
  background-color: #fff;
  border-top: 1px solid #f1f1f1;
}

/* Header */
.header {
  background-color: #0097eb; /*primary-color*/
  color: #fff;
}

.header-top {
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  height: 44px;
  padding: 0 10px;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -ms-flex-align: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.header-left {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

[data-block*="MenuIcon"] {
  display: block;
  height: 100%;
  width: 100%;
}

.app-menu-icon {
  height: 100%;
}

.header-left,
.header-right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.header-right img {
  vertical-align: middle;
}

.header-right {
  color: #fff;
  text-align: right;
}

.header-title {
  color: #fff;
  font-size: 18px;
  text-align: center;
  -servicestudio--webkit-box-flex: 3;
  -servicestudio--webkit-flex: 3;
  -servicestudio--ms-flex: 3;
  -servicestudio-flex: 3;
  -servicestudio-position: relative;
}

.header,
.bottom {
  z-index: 50;
}

/* HeaderOnScroll */
.header .header-top {
  transition: all 300ms ease;
}

.header.header-on-scroll .header-top {
  height: 0;
  padding: 0;
}

.header .header-top * {
  transition: all 350ms ease;
  opacity: 1;
}

.header.header-on-scroll .header-top * {
  opacity: 0;
  pointer-events: none;
}

/* Bottom Bar */
.bottom {
  -servicestudio-min-height: 60px;
}

.bottom-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -ms-grid-row-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.bottom-bar:empty:after {
  color: #999;
  content: "Add Bottom Bar Items to this Container";
  text-align: center;
  display: block;
  font-size: 12px;
  padding: 20px;
}

.layout .bottom-bar:empty:after {
  content: "Double Click to Open Bottom Bar Menu";
}

/* Menu */
.menu {
  position: fixed;
  left: 0;
  top: 44px;
  width: 0;
  height: 0;
  z-index: 150;
}

.app-menu-container {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-transform: translateX(-97%) translateZ(0);
  transform: translateX(-97vw) translateZ(0);
  z-index: 170;
  will-change: auto;
  -servicestudio-pointer-events: none;
  -servicestudio--webkit-transform: translateX(0);
  -servicestudio-transform: translateX(0);
  -servicestudio-position: relative;
}

.tablet .app-menu-container,
.phone.landscape .app-menu-container {
  -webkit-transform: translateX(-98%);
  transform: translateX(-98vw);
}

.tablet.landscape .menu-background {
  display: none;
}

.app-menu {
  background-color: #fff;
  color: #fff;
  position: fixed;
  max-width: 350px;
  width: 90%;
  height: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  will-change: transform;
  z-index: 160;
  pointer-events: auto;
  -servicestudio-width: 100%;
  -servicestudio-position: relative;
}

.menu--visible .app-menu-container,
.is-rtl .menu--visible .app-menu-container {
  -webkit-transform: translateX(0) translateZ(0);
  transform: translateX(0) translateZ(0);
  pointer-events: none;
}

.menu--animatable .app-menu-container {
  transition: all 190ms ease-in;
}

.menu--visible.menu--animatable .app-menu-container {
  transition: all 330ms ease-out;
}

.layout .app-menu {
  -servicestudio-display: none;
}

.menu-background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
  will-change: opacity;
  pointer-events: none;
  -webkit-transform: translateZ(0);

  -servicestudio-pointer-events: none;
}

.menu--visible .menu-background {
  opacity: 1;
  pointer-events: auto;
}

.menu--animatable .menu-background {
  transition: all 190ms ease-in;
}

.menu--visible.menu--animatable .menu-background {
  transition: all 330ms ease-out;
}

.phone.landscape .menu--visible .app-menu-container {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/* css to old versions */
.app-menu {
}

.layout.app-menu-open .app-menu {
  -webkit-transform: none;
  transform: none;
  transition: all 300ms ease-out;
}

.layout.app-menu-open .app-menu-background {
  display: block;
}

/* Hide menu during screen transitions */

.slide-from-left-enter .menu,
.slide-from-left-leave .menu,
.slide-from-right-enter .menu,
.slide-from-right-leave .menu,
.slide-from-top-enter .menu,
.slide-from-top-leave .menu,
.slide-from-bottom-enter .menu,
.slide-from-bottom-leave .menu,
.fade-enter .menu,
.fade-leave .menu {
  display: none;
}

.app-menu a,
.app-menu a:link,
.app-menu a:visited,
.submenu-item {
  color: #263238;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  transition: all 200ms ease;
}

.app-menu-links:empty:after {
  -servicestudio-color: #fff;
  -servicestudio-content: "Drag screens here to create entries";
  -servicestudio-display: inline-block;
  -servicestudio-font-size: 14px;
  -servicestudio-min-height: 20px;
  -servicestudio-padding: 10px;
}

.app-menu-links a,
.app-menu-links a:link,
.app-menu-links a:visited,
.submenu-item {
  margin: 10px 0;
  padding: 10px 15px;
  -webkit-user-select: none;
  user-select: none;
}

.app-menu-links {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.app-menu a .icon {
  color: #77909c;
  font-size: 20px;
  text-align: center;
  padding: 0;
  padding-right: 15px;
  margin: 0;
}

.user-info a .icon {
  padding-left: 5px;
}

/* Menu Icon */
.app-menu-background {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.app-menu-line {
  background-color: #fff;
  border-radius: 2px;
  height: 2px;
  transition: all 500ms ease;
  width: 20px;
}

.app-menu-line:not(:first-child) {
  margin-top: 4px;
}

.header-top a.app-menu-burger,
.header-top a.app-menu-back {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

a.app-menu-back .icon,
a.app-menu-back:link .icon,
a.app-menu-back:visited .icon {
  margin: 0;
  padding: 0;
}

/* Switch Menu and Back icons */
.app-menu-icon.back .app-menu-burger {
  display: none;
}

.app-menu-icon:not(.back) .app-menu-back {
  display: none;
}

/* User info area */
.user-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-align: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
}

.user-info-username {
  margin-top: 15px;
  color: #263238;
  font-weight: 500;
  font-size: 16px;
}

.user-info-logout .icon {
  width: auto;
}

.user-info-logout span:first-child {
  padding-right: 0;
}

.user-info-logout span:last-child {
  padding-left: 0;
}

.user-info-login,
.user-info-logout {
  padding: 20px;
  font-size: 14px;
  border-top: 1px solid #eaeaea;
}

.user-info-login a,
.user-info-login a:link,
.user-info-login a:visited,
.user-info-logout a,
.user-info-logout a:link,
.user-info-logout a:visited {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.user-info a,
.user-info a:link,
.user-info a:visited {
  transition: none;
}

.user-info a .icon {
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
}

.user-info a:active .icon {
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}

.user-info-username a,
.user-info-username a:link,
.user-info-username a:visited {
  color: #77909c;
  font-size: 14px;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.user-info-username a .icon,
.user-info-username a:link .icon,
.user-info-username a:visited .icon {
  font-size: 22px;
  width: auto;
}

.user-info-image {
  padding-top: 30px;
}

/* Layout control classes */
.hidden {
  display: none;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.ph:empty {
  display: none !important;
  -servicestudio-display: block !important;
}

.tablet .hide-on-tablet {
  display: none !important;
  -servicestudio-display: block !important;
}

.phone .hide-on-phone {
  display: none !important;
  -servicestudio-display: block !important;
}
