.splash-screen {
  background-color: #0097eb; /*primary-color*/
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-align: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.splash-title,
.splash-loading {
  max-width: 320px;
  width: 100%;
  padding: 0 20px;
}

.splash-logo {
  max-width: 240px;
  text-align: center;
}
